<form [formGroup]="impactForm" (ngSubmit)="onSubmit()" novalidate>

  <div style="margin-bottom: 1em">
    <button type="submit" [disabled]="impactForm.pristine" class="btn btn-success">Save</button> &nbsp;
    <button type="reset" (click)="revert()" [disabled]="impactForm.pristine" class="btn btn-danger">Revert</button>
  </div>


  <div class="form-group" formGroupName="nwsOffice">
    <fieldset>
      <legend>nwsOffice</legend>
      <label>nwsOffice:
        <input formControlName="name">
      </label>
    </fieldset>
  </div>


  <fieldset>
    <div class="form-group">

      <label>Name:
        <input formControlName="name">
      </label>
    </div>
    <div class="form-group">

      <label>Notes:
        <textarea formControlName="notes"></textarea>
      </label>
    </div>


  </fieldset>

  <div class="form-group">
    <fieldset>
      <legend>Briefing</legend>

      <label>Briefing Required:
        <input type="checkbox" formControlName="requiresBriefing">
      </label>
      <label>Briefing Time:
        <input type="datetime-local" formControlName="briefingTime">
      </label>
    </fieldset>

  </div>

  <div class="form-group">
    <fieldset>
      <legend>Miscelanious</legend>
      <label>Website:
        <input formControlName="website">
      </label>
    </fieldset>
  </div>

  <fieldset>

    <div class="form-group">
      <legend>Threshold Evaluation</legend>

      <label>Begin:
        <input formControlName="beginAlerting">
      </label>
      <label>End:
        <input formControlName="stopAlerting">
      </label>

    </div>

    <div class="form-group">

      <label>Time to Shelter:
        <input formControlName="timeToShelter">
      </label>
      <label>Population:
        <input formControlName="population">
      </label>
    </div>
  </fieldset>


  <div class="form-group">
    <fieldset>
      <legend>Contact Information</legend>

    </fieldset>
  </div>

  <div class="form-group">
    <fieldset>
      <legend>Date and Time</legend>
      <label>Repeat:
        <input formControlName="impactTime">
      </label>
    </fieldset>
  </div>

  <div class="form-group">
    <fieldset>
      <legend>Save</legend>
      <label>Status:
      <select formControlName="status">
        <option *ngFor="let status of statuses" [value]="status">{{status}}</option>
      </select>
    </label>
    </fieldset>
  </div>

  <fieldset>
    <legend>Threshold Set</legend>

    <div formArrayName="impactThresholdSets" class="well well-lg">

      <div *ngFor="let impactThresholdSet of impactThresholdSets.controls; let id=index" [formGroupName]="id">
        <!-- The repeated address template -->
        <h4>Threshold #{{id + 1}}</h4>
        <div style="margin-left: 1em;">
          <div class="form-group">
            <label>Name:
              <input formControlName="name">
            </label>
          </div>
          <br>

          <div class="form-group">
            <label>Severity:
              <input formControlName="severity">
            </label>
          </div>

          <div class="form-group">
            <label>NwsOffice:
              <input formControlName="nwsOffice">
            </label>
          </div>
          <br>
          <!-- End of the repeated address template -->
        </div>
      </div>
      <button (click)="addImpactThresholdSet()" type="button">Add an Impact Threshold</button>

    </div>

  </fieldset>
</form>

{{impactForm.value | json}}
<p>Name value: {{ impactForm.get('name').value }}</p>
<p>Status value: {{ impactForm.get('status').value }}</p>

<p>Form status: {{ impactForm.status | titlecase }}</p>